
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.now-playing{
    font-size: 60px;
}
.track-name{
    font-size: xx-large;
}
.track-artist{
    font-size: x-large;
    color: #000000b6;
}
.track-artist img{
    height: 30px;
    width:30px;
}
.player {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.details {
    margin-bottom: 20px;
}
.slider_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}


#wave {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.stroke {
    width: 10px;
    height: 20px;
    background-color: #000000;
    margin: 0 2px;
}


.mac-player {
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.child-wrap1 button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
    
}
.child-wrap2 button{
    background-color:rgba(189, 187, 187, 0.508);
    color: black;
    border: none;
    border-radius: 10px;
    padding:15px 20px;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}
.child-wrap3 img{
    height: 50px;
    width:50px;
}
.child-wrap3 button{
    background-color:rgba(227, 222, 222, 0.508);
    color: black;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    margin: 10px;
}
.new{
    color:rgba(0, 170, 255, 0.822);
}
.new button{
    background-color:rgba(9, 90, 222, 0.884);
    color:white ;
    border: none;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 16px;
}
.mac-player .price {
    font-weight: bold;
    margin-left: 10px;
}
.sub p{ 
    color: gray;
} 
.themes h1{
    font-size: xxx-large;
}
.themes p{
    font-size: x-large;
    color: rgba(0, 0, 0, 0.695);
}
.playlist img{
    height:370px;
    width:1250px;
}


